{
  "$schema": "https://json.schemastore.org/swcrc",
  "minify": true,
  "jsc": {
    "minify": {
      "mangle": {
        "toplevel": true,
        "keep_classnames": true,
        "keep_fnames": true,
        "keep_private_props": true,
        "ie8": false,
        "safari10": false
      }
      "compress": {
        "drop_console": true,
        "keep_classnames": true,
        "keep_fargs": true,
        "keep_fnames": true,
        "keep_infinity": true
      },
    },
    "parser": {
      "syntax": "typescript",
      "tsx": false,
      "privateMethod": true,
      "exportDefaultFrom": true,
      "decorators": true,
      "decoratorsBeforeExport": true,
      "topLevelAwait": true
    },
    "transform": {
      "decoratorMetadata": true,
      "decoratorVersion": "2022-03"
    },
    "target": "es2022"
  },
  "module": {
    "type": "es6"
  }
}
